* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, p {
  background-color: #F4D4D4;    /* Light pink */
}

em, strong {
  background-color: #B2D6FF;    /* Light blue */
  display: inline;
}
h1 {
  padding: 50px;
  border: 1px solid #5D6063;
  margin-bottom: 50 px;
}
p {
  padding: 20px 0 20px 10px;  /* Vertical  Horizontal */
  margin-top: 25px;
  margin-bottom: 50px;
}
strong {
  margin: 50px;
  body {
    text-align: center;
  }
}
figure {
    margin: 0;
}
body{
  text-align: center;
}
.navigation {
   color:#FFF;
   background-color: #FFf;
   padding: 20px;
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
   margin-bottom: 45px;
 }
.blogbody {
  font-family: Arial;
  padding: 20px;
  background: #FFFFFF;
  text-align: left;
}

/*Blog Title*/
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #F4D4D4;
}
/*Left Colum*/
.leftcolumn {
  float: left;
  width: 75%;
}
/*Right Colum*/
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.card {
  background-color: #F4D4D4;
  padding: 20px;
  padding-right: 100px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.home{
    color: #FFF;
    background-color: #F4D4D4;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
    margin: 20px auto;

    width: 200px;
    box-sizing: border-box;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
